include LICENSE
include README.md
include hwrt/misc/feature-small-info.yml
include hwrt/misc/info.yml
include hwrt/misc/is_one_symbol_classifier.pickle
include hwrt/misc/latex2writemathindex.csv
include hwrt/misc/merge.yml
include hwrt/misc/merge_understandable.yml
include hwrt/misc/model.tar
include hwrt/misc/model-cuda-converted.tar
include hwrt/misc/model-cuda-converted.tar
include hwrt/misc/model-small-info.yml
include hwrt/misc/ngram.arpa.tar.bz2
include hwrt/misc/preprocessing-small-info.yml
include hwrt/misc/prob_stroke_count_by_symbol.yml
include hwrt/misc/symbols.yml
include hwrt/misc/symbols_tiny.yml
include hwrt/misc/vocabulary.txt
include hwrt/misc/wm_symbols.csv
include hwrt/misc/wm_tags.csv
include hwrt/misc/wm_tags2symbols.csv
graft docs
prune docs/_build
