chardet==3.0.4
click==7.1.1
coverage==5.0.3
flake8==3.7.9
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
h5py==2.10.0
Lasagne==0.1
mccabe==0.6.1
natsort==7.0.1
numpy==1.18.1
Pillow==7.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
PyMySQL==0.9.3
pytest==5.4.1
pytest-cov==2.8.1
pytest-flake8==1.0.4
PyYAML==5.3
requests==2.23.0
scipy==1.4.1
six==1.14.0
Theano==1.0.4
urllib3==1.25.8
nntoolkit
